.divider {
    background-color: black; /* Color del rectángulo */
    height: 50px; /* Altura del divisor */
    margin: 0px 0; /* Espaciado arriba y abajo */
}

.projects-title {
    color: #FF00CC; /* Color rosa */
    font-family: 'NombreDeLaTipografía', sans-serif; /* Reemplaza con la tipografía que estés usando */
    font-size: 40px; /* Tamaño del texto */
    margin: 20px 0; /* Espaciado arriba y abajo */
    text-align: center; /* Centrado del texto */
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card h3 {
    color: #333;
    margin: 10px 0;
}

.card p {
    color: #666;
    padding: 0 10px 10px;
}

.card {
    transition: transform 0.3s ease; /* Transición suave */
}

.card:hover {
    transform: translateY(-10px); /* Eleva la card hacia arriba */
    box-shadow: 0 4px 15px rgba(255, 0, 204, 0.5); /* Sombra en color #FF00CC */
}

